<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="dev" value="https://dotnet.myget.org/f/aspnetcore-dev/api/v3/index.json" />
    <add key="npgsql-unstable" value="https://www.myget.org/F/npgsql-unstable/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>